.footer {
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: calc(100vh * 0.6);
    background: url('../public/images/fire_body_4.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
}